{% extends "base.html" %}
{% block content %}

{% load static %}
<section class="content">
    <section class="post_form">
        <form action="/" method="POST">
            {% csrf_token%}
            <input type="text" name="name" placeholder="Name" required>
            <textarea name="body" placeholder="Tell us anything" required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <section class="posts">
        <ul>
            {% for post in posts %}
            <li>
                <img class="menu_icon js-option-icon" src="{% static 'img/option.png' %}">
                <div class="menu">
                    <a href="/delete/{{ post.id }}/">Delete</a>
                </div>
                <div class="logo">
                    <img src="{% static 'img/user.png' %}">
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name}} </div>
                    <div class="datetime">{{ post.created_at}} </div>
                    <p>{{ post.body }}</p>
                    <a href="/delete/{{ post.id }}/">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}